<%= form_with(model: [:admin, storage_condition], class: "space-y-8 divide-y divide-gray-200") do |form| %>
  <div class="space-y-8 divide-y divide-gray-200">
    <div class="pt-8">
      <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <% if storage_condition.errors.include?(:name) %>
            <p class="mt-2 text-sm text-red-600"><%= storage_condition.errors.full_messages_for(:name).join(", ") %></p>
          <% end %>
        </div>

        <div class="sm:col-span-6">
          <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :description, rows: 3, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <% if storage_condition.errors.include?(:description) %>
            <p class="mt-2 text-sm text-red-600"><%= storage_condition.errors.full_messages_for(:description).join(", ") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end space-x-3">
      <%= link_to "Cancel", admin_storage_conditions_path, class: "rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      <%= form.submit class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>
<% end %> 