<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Edit Account</h3>
        </div>
        <div class="card-body">
          <%= form_with(model: @account, local: true) do |f| %>
            <% if @account.errors.any? %>
              <div class="alert alert-danger">
                <h4><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h4>
                <ul>
                  <% @account.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :number %>
              <%= f.text_field :number, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :account_type %>
              <%= f.select :account_type, 
                  ['asset', 'liability', 'equity', 'revenue', 'expense'].map { |t| [t.titleize, t] },
                  {}, 
                  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :parent_id, 'Parent Account' %>
              <%= f.collection_select :parent_id, 
                  Account.where.not(id: @account.id), 
                  :id, 
                  :name, 
                  { include_blank: 'None' }, 
                  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: 'form-control', rows: 3 %>
            </div>

            <div class="form-group">
              <%= f.submit 'Update Account', class: 'btn btn-primary' %>
              <%= link_to 'Cancel', @account, class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
